<section ng-controller="GroceryListController" ng-init="buildPage()">
	<div ng-if="!authentication.user">
		<!-- TODO:  Styling this section -->
		You need to be signed in to view this page
	</div>
	<div ng-if="pageBuilt">
		<p>This is the grocery list</p>
		<div ng-repeat="item in groceryList track by $index">
			<div class="row">
				<div class="col-md-8">{{item.content}}</div>
				<div class="col-md-4" ng-if="!item.confirm">
					<div class="btn btn-danger recipeFormMoveXButtonDown" ng-click="areYouSure($index)">Delete Item</div>
				</div>
				<div class="col-md-4" ng-if="item.confirm">
					Are you sure? 
					<div class="btn btn-success recipeFormMoveXButtonDown" ng-click="removeItem($index)">Yes</div>
					<div class="btn btn-warning recipeFormMoveXButtonDown" ng-click="cancelRemove($index)">No</div>
				</div>
			</div>
		</div>
	</div>

</section>


<!--
Grocery List Features
View Grocery List
Add fields to grocery list
Remove fields from grocery list
Save Grccery List
Clear Grcoery List
Text Grocery List to phone

Delete Item toggles the confirm in the object
Clicking Yes deletes it
No toggles confirm and back to standard

Current Issue:
message: "Cast to Array failed for value "[object Object],[object Object],[object Object],[object Object]" at path "groceryList""
groceryList is a String array, putting objects into it is breaking it
Will want to update the user model so that groceryList is a schema of its own
Then will need to edit how items are added to grocoery list by recipes.client.controller.js
Then will need to test that it is working in grocerylist.client.controller.js
-->