<section ng-controller="GroceryListController" ng-init="buildPage()">
	<div ng-if="!authentication.user">
		<!-- TODO:  Styling this section -->
		You need to be signed in to view this page
	</div>
	<div ng-if="pageBuilt">
		<p>This is the grocery list</p>
		<div ng-if="!groceryList.length">
			Grocery List Empty
		</div>
		<div ng-repeat="item in groceryList track by $index" class="groceryListItem">
			<div class="row">
				<div class="col-md-8">{{item.content}}</div>
				<div class="col-md-4" ng-if="!item.confirm">
					<div class="btn btn-danger recipeFormMoveXButtonDown" ng-click="deleteAreYouSure($index)">Delete Item</div>
				</div>
				<div class="col-md-4" ng-if="item.confirm">
					Are you sure? 
					<div class="btn btn-success recipeFormMoveXButtonDown" ng-click="removeItem($index)">Yes</div>
					<div class="btn btn-warning recipeFormMoveXButtonDown" ng-click="cancelRemove($index)">No</div>
				</div>
			</div>
		</div>
		<div>
			<p>Add items to grocery list?</p>
			<form name="form.ingredientAddingForm">
				<input type="text" name="newIngredient" ng-model="form.ingredientToAdd">
				<div class="btn btn-success" ng-click="addItemToGroceryList()">[+] Add Ingredient</div>
				<div ng-if="userErrors[0]" style="color: red">Ingredient cannot be blank</div>
			</form>
		</div>
		<div>
			<div ng-if="!clearConfirm && groceryList.length">
				<div class="btn btn-danger" ng-click="clearAreYouSure()">Clear Grocery List</div>
			</div>
			<div ng-if="clearConfirm">
				Are you sure?
				<div class="btn btn-success recipeFormMoveXButtonDown" ng-click="clearGroceryList()">Yes</div>
				<div class="btn btn-warning recipeFormMoveXButtonDown" ng-click="cancelClear()">No</div>
			</div>
		</div>
		<div class="btn btn-success" ng-click="test()">PLEASE</div>
	</div>
</section>


<!--
Text Grocery List to phone
-->