<section ng-controller="VerifyPhoneController" ng-init="buildPage()">
	<div ng-if="pageBuilt" class="text-center">
		<p class="text-center">Thanks for signing up for Recipe Rescue and adding a cell number!  In order to use the SMS capabilities of the site, we'll need to confirm that you've entered the right number.</p>
		<p class="text-center">You've entered</p>
		<p class="text-center" style="font-weight: bold">({{currentUser.phoneAreaCode}}) {{currentUser.phoneFirstThree}}-{{currentUser.phoneLastFour}}</p>
		<div class="btn btn-default" ng-click="open()">Send Confirmation Code</div>
		<!--<div class="btn btn-default" ng-click="sendConfirmationCode(); open()">Send Confirmation Code</div>-->
	</div>

	<script type="text/ng-template" id="myModalContent.html">
	  <div ng-init="buildPage()"> 
	  	<div ng-if="pageBuilt">
		    <div class="modal-header">
		      <h3 class="modal-title">Phone Confirmation</h3>
		    </div>
		    <div class="modal-body">
		    	<p>Confirmation code sent to ({{currentUser.phoneAreaCode}}) {{currentUser.phoneFirstThree}}-{{currentUser.phoneLastFour}}</p>
		    	<p>Please check your phone for a confirmation code and enter it below</p>
		      <form name="confirmForm" ng-submit="testCode()">
		      	<input type="text" maxlength="5" name="code" ng-model="enteredCode" style="text-transform: uppercase">
		      	<button type="submit">Enter</button>
		      	<p ng-show="confirmError">Incorrect Code</p>
		      	<p ng-show="phoneConfirmed">Phone Number Confirmed</p>
		      </form>
		    </div>
		    <div class="modal-footer">
		        <button ng-click="sendConfirmationCode()" class="btn btn-primary">Resend Code</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div>
		  </div>
	  </div>
  </script>
	
</section>