<section>
  <div class="page-header">
    <h1>{{vm.recipe._id ? 'Edit Recipe' : 'New Recipe'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.recipeForm" class="form-horizontal" ng-submit="vm.save(vm.form.recipeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.recipe.title" id="title" class="form-control" placeholder="Title" required>
          <p class="help-block error-text" ng-show="vm.form.recipeForm.title.$invalid">Recipe title is required.</p>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="prepTime">Prep Time</label>
          <input name="prepTime" type="text" ng-model="vm.recipe.prepTime" id="" class="form-control" placeholder="Title" required>
          <p class="help-block error-text" ng-show="vm.form.recipeForm.prepTime.$invalid">Prep Time is required.</p>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="cookTime">Cook Time</label>
          <input name="cookTime" type="text" ng-model="vm.recipe.cookTime" id="" class="form-control" placeholder="Title" required>
          <p class="help-block error-text" ng-show="vm.form.recipeForm.cookTime.$invalid">Cook Time is required.</p>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="numServings">Number of Servings</label>
          <input name="numServings" type="text" ng-model="vm.recipe.numServings" id="" class="form-control" placeholder="Title" required>
          <p class="help-block error-text" ng-show="vm.form.recipeForm.numServings.$invalid">Number of Servings is required.</p>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="" type="text" ng-model="vm.recipe.description" id="description" class="form-control" placeholder="Title" required>
          <p class="help-block error-text" ng-show="vm.form.recipeForm.description.$invalid">Description is required.</p>
        </div>
        <div data-ng-repeat="ingredient in vm.ingredients track by $index">
          <div class="row">
            <div class="form-group col-md-2" ng-form="vm.form.quantityForm_{{$index}}" show-errors>
              <label class="control-label" for="ingredient.quantity">Quantity</label>
              <input name="quantity" type="text" ng-model="ingredient.quantity" id="quantity" class="form-control" placeholder="Quantity" required>
              <p class="help-block error-text" ng-show="vm.form.quantityForm_{{$index}}.$invalid">Ingredient quantity is required.</p>
            </div>
            <div class="form-group col-md-2" ng-form="vm.form.unitForm_{{$index}}" show-errors>
              <label class="control-label" for="ingredient.unit">Unit</label>
              <input name="unit" type="text" ng-model="ingredient.unit" id="unit" class="form-control" placeholder="Unit" required>
              <p class="help-block error-text" ng-show="vm.form.unitForm_{{$index}}.$invalid">Ingredient unit is required.</p>
            </div>
            <div class="form-group col-md-4" ng-form="vm.form.contentForm_{{$index}}" show-errors>
              <label class="control-label" for="ingredient.content">Ingredient</label>
              <input name="content" type="text" ng-model="ingredient.content" id="content" class="form-control" placeholder="Ingredient" required>
              <p class="help-block error-text" ng-show="vm.form.contentForm_{{$index}}.$invalid">Ingredient is required.</p>
            </div>
            <div class="btn btn-danger recipeFormMoveXButtonDown" ng-click="vm.removeIngredient($index)">[X]</div>
          </div>
        </div>
        <!-- Add new Ingredient -->
        <div class="btn btn-success" ng-click="vm.addNewIngredient()">[+] Add Ingredient</div>
        <div data-ng-repeat="step in vm.steps track by $index">
          <div class="row">
            <div class="form-group col-md-10" ng-form="vm.form.stepForm_{{$index}}" show-errors>
              <label class="control-label" for="step">Step</label>
              <input name="step" type="text" ng-model="step.content" id="step" class="form-control" placeholder="Step" required>
              <p class="help-block error-text" ng-show="vm.form.stepForm_{{$index}}.$invalid">Please fill out this step or remove it</p>
            </div>
            <div class="btn btn-danger recipeFormMoveXButtonDown" ng-click="vm.removeStep($index)">[X]</div>
          </div>
        </div>
        <!-- Add new Step -->
        <div class="btn btn-success" ng-click="vm.addNewStep()">[+] Add Step</div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.recipe._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
